$light_blue: #00D9FC;
$red: #4f0000;
$dark_red: #000000;


$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #ff0202;
$secondary_paletteKeyColor: #597B8F;
$tertiary_paletteKeyColor: #557AA1;
$neutral_paletteKeyColor: #6D797D;
$neutral_variant_paletteKeyColor: #6A7A7F;
$background: $dark_red;
$onBackground: $light_blue;
$surface: #091518;
$surfaceDim: #091518;
$surfaceBright: #313f2f;
$surfaceContainerLowest: #051013;
$surfaceContainerLow: $dark_red;
$surfaceContainer: #162125;
$surfaceContainerHigh: $red;
$surfaceContainerHighest: #2B373A;
$onSurface: $light_blue;
$surfaceVariant: #3A494E;
$onSurfaceVariant: #00dafcdf;
$inverseSurface: $light_blue;
$inverseOnSurface: #273628;
$outline: $light_blue;
$outlineVariant: #3b4e3a;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: $light_blue;
$primary: $light_blue;
$onPrimary: $dark_red;
$primaryContainer: #000000;
$onPrimaryContainer: #AAEDFF;
$inversePrimary: #000000;
$secondary: $light_blue;
$onSecondary: #000000;
$secondaryContainer: $red;
$onSecondaryContainer: $light_blue;
$tertiary: #A4CAF5;
$onTertiary: #000000;
$tertiaryContainer: #6F94BC;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #AAEDFF;
$primaryFixedDim: $light_blue;
$onPrimaryFixed: #001F26;
$onPrimaryFixedVariant: #1b291a;
$secondaryFixed: #C4E7FF;
$secondaryFixedDim: $light_blue;
$onSecondaryFixed: #001E2C;
$onSecondaryFixedVariant: $light_blue;
$tertiaryFixed: #D0E4FF;
$tertiaryFixedDim: #A4CAF5;
$onTertiaryFixed: #001D34;
$onTertiaryFixedVariant: #6d6e21;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #0E1C21;
$term1: #8383FF;
$term2: #63DEDB;
$term3: #75FCDD;
$term4: #78B4C1;
$term5: #7AAEEA;
$term6: #81D7DE;
$term7: #CCDBD5;
$term8: #B1BCB5;
$term9: #BCB9FF;
$term10: #F4FFFE;
$term11: #FFFFFF;
$term12: #BEE3E8;
$term13: #C8DAFF;
$term14: #EAFEFF;
$term15: #B0ECFC;
