$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #AC6168;
$secondary_paletteKeyColor: #916E70;
$tertiary_paletteKeyColor: #927146;
$neutral_paletteKeyColor: #817474;
$neutral_variant_paletteKeyColor: #857374;
$background: #1A1112;
$onBackground: #F0DEDF;
$surface: #1A1112;
$surfaceDim: #1A1112;
$surfaceBright: #413737;
$surfaceContainerLowest: #140C0D;
$surfaceContainerLow: #22191A;
$surfaceContainer: #271D1E;
$surfaceContainerHigh: #312828;
$surfaceContainerHighest: #3D3233;
$onSurface: #F0DEDF;
$surfaceVariant: #524344;
$onSurfaceVariant: #D7C1C2;
$inverseSurface: #F0DEDF;
$inverseOnSurface: #382E2E;
$outline: #9F8C8D;
$outlineVariant: #524344;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB2B8;
$primary: #FFB2B8;
$onPrimary: #561D25;
$primaryContainer: #72333A;
$onPrimaryContainer: #FFDADB;
$inversePrimary: #8F4A51;
$secondary: #E5BDBF;
$onSecondary: #44292B;
$secondaryContainer: #5F4143;
$onSecondaryContainer: #FFDADB;
$tertiary: #E8C08E;
$onTertiary: #442B06;
$tertiaryContainer: #AE8B5D;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFDADB;
$primaryFixedDim: #FFB2B8;
$onPrimaryFixed: #3B0711;
$onPrimaryFixedVariant: #72333A;
$secondaryFixed: #FFDADB;
$secondaryFixedDim: #E5BDBF;
$onSecondaryFixed: #2C1517;
$onSecondaryFixedVariant: #5C3F41;
$tertiaryFixed: #FFDDB5;
$tertiaryFixedDim: #E8C08E;
$onTertiaryFixed: #2A1800;
$onTertiaryFixedVariant: #5D421B;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #221819;
$term1: #FF5367;
$term2: #FFBCAB;
$term3: #FFDFDA;
$term4: #B3A3D5;
$term5: #EE8F9E;
$term6: #FFBA92;
$term7: #F0D1CD;
$term8: #CCB4B1;
$term9: #FFAAAC;
$term10: #FFFCFF;
$term11: #FFFFFF;
$term12: #F9D7AC;
$term13: #FFCED2;
$term14: #FFF9F8;
$term15: #FFD9DD;
